.courseContainer {
    display: grid;
    grid-row-gap: 60px;
    margin-top: 10%;
    .courseCard {
        margin: auto;
        position: relative;
        border: 1px solid black;
        border-radius: 9px;
        width: 30%;
        height: 100px;
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: larger;
        line-height: 100px;
        box-shadow: 0px 4px 15px rgb(7, 7, 7);
        &:hover {
            top: -3px;
            cursor: pointer;
          }
        &::after {
            content: "";
            background: url(https://bit.ly/31ksADg)no-repeat;
            background-position: 0% 52%;
            background-size: 300px 200px;
            border-radius: 9px;
            opacity: 0.4;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;   
          }
    }
}
.main {
  text-align: center;
  h1, h3 {
    width: 40%;
    margin:auto;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .progressBar {
    margin-top: 50px;
    progress {
      display:block;
      margin: auto;
      margin-top: 5%;
      width: 600px;
      height: 50px;
      &:after {
        content: attr(value)'%';
        position: relative;
        top: 15px;
      }
    }
  }
  &.mainMain {
    &::after {
      content: "";
      background: url(https://bit.ly/31ksADg)no-repeat;
      background-position: 50% 35%;
      background-size: 400px 250px;
      opacity: 0.3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
    }

  }
  .buttonContainer {
    display: grid;
    grid-template-columns: auto auto;
    button {
      position: relative;
      margin: auto;
      margin-bottom: 49px;
      padding: 10px 20px;
      border-radius: 9px;
      font-size: larger;
      background-color: lightgray;
      outline: none;
      border: none;
      &:hover {
        background-color: darkgrey;
        cursor: pointer;
      }
      
    }
  }
  .tableContainer {
    table {
      margin: auto;
      margin-top: 124px;
      margin-bottom: 125px;
      width: 500px;
      height: 500px;
      padding: 25px;
      td {
        cursor: pointer;
        color: white;
        width: 70px;
        height: 70px;
        &:hover {
          animation: shake 0.5s;
          animation-iteration-count: infinite;
        }
        @keyframes shake {
          0% { transform: translate(1px, 1px) rotate(0deg); }
          10% { transform: translate(-1px, -2px) rotate(-1deg); }
          20% { transform: translate(-3px, 0px) rotate(1deg); }
          30% { transform: translate(3px, 2px) rotate(0deg); }
          40% { transform: translate(1px, -1px) rotate(1deg); }
          50% { transform: translate(-1px, 2px) rotate(-1deg); }
          60% { transform: translate(-3px, 1px) rotate(0deg); }
          70% { transform: translate(3px, 1px) rotate(-1deg); }
          80% { transform: translate(-1px, -1px) rotate(1deg); }
          90% { transform: translate(1px, 2px) rotate(0deg); }
          100% { transform: translate(1px, -2px) rotate(-1deg); }
        }
      }
    }
    table, td {
      border: 1px solid black;
      border-radius: 5%;
    }
  }

  iframe, img {
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 5px 10px 18px #888888;
  }
  img {
    width: 40%;
  }


}


